settings.xml
maven_central_deployment.txt
pom.xml.versionsBackup
pom_maven_central.xml

target/
!**/src/main/**/target/
!**/src/test/**/target/
.gradle

# STS #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr

# VS Code #
.vscode/
